/* Общие стили для контейнера настроек */
.general-settings-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Заголовок для секции общих настроек */
  .general-settings-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Формы для изменения имени и аватара */
  .general-settings-form {
    margin-bottom: 20px;
  }
  
  .general-settings-label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .general-settings-input,
  .general-settings-input-file {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .general-settings-input-file {
    padding: 5px;
    font-size: 14px;
  }
  
  /* Кнопки для отправки формы */
  .general-settings-btn {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .general-settings-btn:hover {
    background-color: #409642;
  }
  
  .general-settings-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  