.skillsSettingsContainer {
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.skillsSettingsTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.skillsTextarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  resize: none;
  transition: border 0.3s ease;
}

.skillsTextarea:focus {
  border-color: #4caf50;
  outline: none;
}

.skillsSaveBtn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 16px;
  width: 100%;
}

.skillsSaveBtn:hover {
  background-color: #409642;
}

.errorMessage {
  color: #ff4d4d;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.skillsList {
  margin-bottom: 20px;
  max-height: calc(3 * 36px); /* 3 навыка * высота одного skillItem (примерно 36px) */
  overflow-y: auto;
}

.skillItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.skillItem span {
  margin-right: 10px;
}

.skillItem button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
}

.skillItem button:hover {
  background-color: #ccc;
}

.skillItem button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff4d4d;
  color: white;
}

.skillItem button:first-child:hover {
  background-color: #e60000;
}

.skillItem button:last-child {
  background-color: #4caf50;
  color: white;
}

.skillItem button:last-child:hover {
  background-color: #409642;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  outline: none;
  text-align: center;
}

.modalInput {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 15px 0 25px 0;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.modalSaveBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modalSaveBtn:hover {
  background-color: #409642;
}

.modalCancelBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modalCancelBtn:hover {
  background-color: #d32f2f;
}
