/* src/pages/Auth/auth.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .auth-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  
  #errorAlert {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #errorAlert.show {
    opacity: 1;
    max-height: 100px;
  }
  
  .password-container {
    position: relative;
    width: 100%;
  }
  
  #password {
    width: 100%;
    padding-right: 40px;
  }
  
  #togglePassword {
    position: absolute;
    top: 46%;
    right: 10px;
    transform: translate(0, -70%) translateX(15px);
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
  }
  
  #togglePassword:hover {
    color: #4CAF50;
  }
  
  .no-account {
    margin-top: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  input:focus {
    border-color: #4CAF50;
    outline: none;
    background-color: #fff;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  