@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.highlightElement {
    position: relative;
    z-index: 1110;
    box-shadow: 0 0 12px 4px rgba(0, 123, 255, 0.8);
    border-radius: 8px;
    background-color: rgba(0, 123, 255, 0.1);
    cursor: pointer;
    animation: pulseHighlight 2s infinite;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

@keyframes pulseHighlight {

    0%,
    100% {
        box-shadow: 0 0 12px 4px rgba(0, 123, 255, 0.8);
    }

    50% {
        box-shadow: 0 0 20px 6px rgba(0, 123, 255, 1);
    }
}