/* Основной контейнер */
main {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Контейнер для списка заказов */
.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Карточка заказа */
.order-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

/* Карточка при наведении */
.order-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Информация о проекте */
.order-item p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* Основные стили для модальных окон */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Модальное окно (для откликов и редактирования) */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Стили для кнопок */
button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #45a049;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388e3c;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
  height: 100px;
}

img {
  height: auto;
}

/* Модальные окна для откликов */
.bid-item {
  border-bottom: 1px solid #ddd;
}

.bid-item:last-child {
  border-bottom: none;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.rejectedButton {
  background-color: #ff4d4d;
}

.rejectedButton:hover {
  background-color: #dd2121;
}

button {
  flex: 1;
  margin: 5px;
}

/* Стили для статуса */
.status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.accepting {
  color: white;
  background-color: #45a049;
}

.not-accepting {
  color: white;
  background-color: #ff4d4d;
}

.status span {
  margin-left: 8px;
}

.status.accepting::before {
  content: "✔️";
  margin-right: 5px;
}

.status.not-accepting::before {
  content: "❌";
  margin-right: 5px;
}

.status-project {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.open {
  color: #0086f3;
  background-color: #a1cceb;
}

.in_progress {
  color: #FF9800;
  background-color: #ffe7c1;
}

.completed {
  color: #4CAF50;
  background-color: #baf7bf;
}

.status-project span {
  margin-left: 8px;
}

.status-project.open::before {
  content: "📂";
  margin-right: 5px;
}

.status-project.in_progress::before {
  content: "🔨";
  margin-right: 5px;
}

.status-project.completed::before {
  content: "✅";
  margin-right: 5px;
}

/* Стили для модального окна редактирования */
.modal-edit textarea {
  resize: none;
}

.modal-edit .modal-content {
  background-color: #fefefe;
  max-height: 90vh;
}

/* Стили для модального окна откликов */

.modal-bid .modal-content {
  background-color: #ffffff;
  max-height: 80vh;
}

.modal-confirmation .modal-content {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.modal-confirmation .modal-actions {
  margin-top: 20px;
}

.modal-confirmation .confirm-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.modal-confirmation .cancel-btn {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.modal-confirmation .confirm-btn:hover {
  background-color: darkred;
}

.modal-confirmation .cancel-btn:hover {
  background-color: darkgray;
}